

body {
    padding-top: 3rem;
    color: #5a5a5a;
    font-family: 'Kanit', sans-serif !important;
    background-image: url('/images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}

.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.nav-link {
    font-size: 18px;
    margin-right: 10px;
    line-height: 12px;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
}

.carousel {
    margin-bottom: 4rem;
}

.carousel-caption {
    bottom: 3rem;
    z-index: 10;
}


.marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
}

.marketing h2 {
    font-weight: 400;
}

.marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
}

.featurette-divider {
    margin: 3rem 0;
}

.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
}


@media (min-width: 40em) {
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
    .featurette-heading {
      font-size: 50px;
    }
}

@media (min-width: 62em) {
    .featurette-heading {
      margin-top: 4rem;
    }
}

.copy-right {
    font-size: 14px !important;
    margin-top:20px;
    margin-bottom: 20px;
    color: #ffffff;
}

.joker {
    margin-top: 20px;
}

.mobile {
    margin-top: 150px;
}

#CarouselBanner {
    margin-top: 52px;
}


