/* Full HD*/
@media  screen and (max-width: 1920px) {

}

/* Mac */
@media  screen and (max-width: 1680px) {

}

/* Desktop HD+ */
@media  screen and (max-width: 1600px) {

}

/* Lab Top */
@media  screen and (max-width: 1366px) {

}

/* Vertical IPad Pro  && Horizontal IPad */
@media  screen and (max-width: 1024px) {

}

/* Horizontal IPhone X */
@media  screen and (max-width: 812px) {
    .nav-link {
        font-size: 16px;
    }
}

/* Vertical IPad */
@media  screen and (max-width: 768px) {

}

/* Horizontal 6/7/8 Plus*/
@media  screen and (max-width: 736px) {

}

/* Horizontal IPhone 6/7/8 */
@media  screen and (max-width: 667px) {

}

/* Horizontal IPhone 5/SE */
@media  screen and (max-width: 568px) {
    #CarouselBanner {
        margin-top: 50px;
        height: 250px !important;
    }
    .img-banner {
        height: 250px !important;
    }
    .nav-link {
        display: block;
        padding: 1rem 1rem !important;
    }
}

/* Vertical IPhone XS Max/ XR/ 6/ 7/ 8 Plus */
@media only screen and (max-width: 414px) {
    #CarouselBanner {
        margin-top: 50px;
        height: 250px !important;
    }
    .img-banner {
        height: 250px !important;
    }
    .nav-link {
        display: block;
        padding: 1rem 1rem !important;
    }
}

/* Vertical IPhone X/ XS/ 6/7/8  */
@media only screen and (max-width: 375px) {
    #CarouselBanner {
        margin-top: 50px;
        height: 250px !important;
    }
    .img-banner {
        height: 250px !important;
    }
    .nav-link {
        display: block;
        padding: 1rem 1rem !important;
    }
}

/* Vertical IPhone 5/SE  */
@media only screen and (max-width: 320px) {
    #CarouselBanner {
        margin-top: 50px;
        height: 250px !important;
    }
    .img-banner {
        height: 250px !important;
    }
    .nav-link {
        display: block;
        padding: 1rem 1rem !important;
    }
}
